/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(107, 148, 255);
$color_type_1: rgb(19, 19, 19);
$color_type_2: rgb(25, 25, 25);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(31, 31, 31);
$color_type_5: rgb(37, 37, 37);
$color_type_6: rgb(40, 40, 40);
$color_type_7: rgb(52, 52, 52);

$font_type_0: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_1: 500 30px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_2: 20px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_3: 15px/1.2 "Inter", Helvetica, Arial, serif;

.untitled-page {
  &-group {
    @include flex-column;
    background-color: $color_type_7;
  }
  &-group.layout {
    position: relative;
    overflow: hidden;
  }
  &-group1 {
    @include flex-column;
    background-color: $color_type_1;
    border-radius: 20px 20px 20px 20px;
  }
  &-group1.layout {
    position: absolute;
    top: 0px;
    height: 78px;
    left: 0px;
    right: 0px;
    @include xxs {
      top: -6px;
      height: 62px;
    }
  }
  &-flex {
    display: flex;
    @include sm {
      flex-wrap: wrap;
      align-content: flex-start;
      row-gap: 16px;
    }
  }
  &-flex.layout {
    position: relative;
    flex-grow: 1;
    margin: 11px 15px;
    @include sm {
      margin: 11px 0px 11px 15px;
    }
  }
  &-flex-item {
    @include flex-column;
    position: relative;
    flex: 0 1 161px;
    @include sm {
      flex: 0 0 calc(25% - 20px);
    }
    @include xs {
      flex: 0 0 calc(25% - 15px);
    }
    @include tn {
      flex: 0 0 calc(50% - 30px);
    }
  }
  &-img {
    background: var(--src) center center / cover no-repeat;
  }
  &-img.layout {
    position: relative;
    height: 56px;
    width: 161px;
    min-width: 161px;
    @include sm {
      height: 42.5px;
      width: 125px;
      min-width: 125px;
      margin: 0px;
    }
  }
  &-flex-spacer {
    flex: 0 1 57px;
    @include sm {
      display: flex;
      flex: 0 0 20px;
    }
  }
  &-flex-item1 {
    @include flex-column;
    position: relative;
    flex: 0 1 117px;
    @include sm {
      flex: 0 0 calc(25% - 20px);
    }
    @include xs {
      flex: 0 0 calc(25% - 15px);
    }
    @include tn {
      flex: 0 0 calc(50% - 30px);
    }
  }
  &-group2 {
    @include flex-column;
    background-color: $color_type_4;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }
  &-group2.layout {
    position: relative;
    flex-grow: 1;
    margin: 8px 0px;
  }
  &-txt {
    @include v-center-content;
    justify-content: center;
    font: $font_type_2;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
  }
  &-txt.layout {
    position: relative;
    flex-grow: 1;
  }
  &-flex-item2 {
    @include flex-column;
    position: relative;
    flex: 0 1 115px;
    @include sm {
      flex: 0 0 calc(25% - 20px);
    }
    @include xs {
      flex: 0 0 calc(25% - 15px);
    }
    @include tn {
      display: none;
      flex: 0 0 calc(50% - 30px);
    }
  }
  &-group3 {
    @include flex-column;
    background-color: $color_type_4;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }
  &-group3.layout {
    position: relative;
    flex-grow: 1;
    margin: 8px 0px;
  }
  &-flex-item3 {
    @include flex-column;
    position: relative;
    flex: 0 1 115px;
    @include sm {
      flex: 0 0 calc(25% - 20px);
    }
    @include xs {
      flex: 0 0 calc(25% - 15px);
    }
    @include tn {
      display: none;
      flex: 0 0 calc(50% - 30px);
    }
  }
  &-group4 {
    @include flex-column;
    background-color: $color_type_4;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }
  &-group4.layout {
    position: relative;
    flex-grow: 1;
    margin: 8px 0px;
    @include xxs {
      display: none;
    }
  }
  &-flex-spacer1 {
    flex: 0 1 57px;
    @include sm {
      display: flex;
      flex: 0 0 20px;
    }
    @include xs {
      display: none;
    }
  }
  &-flex-spacer2 {
    flex: 0 1 57px;
    @include sm {
      display: none;
    }
  }
  &-flex1 {
    @include flex-column;
  }
  &-flex1.layout {
    position: absolute;
    top: 78px;
    height: 396px;
    left: 0px;
    right: 0px;
    @include xxs {
      height: 111px;
    }
    @include tn {
      height: 0px;
    }
  }
  &-group5 {
    @include flex-column;
    background: var(--src) center center / cover no-repeat;
    background-color: $color_type_5;
  }
  &-group5.layout {
    position: relative;
    height: 380px;
    @include xxs {
      height: 88px;
      margin: 0px;
      display: flex;
    }
    @include tn {
      display: none;
    }
  }
  &-img.layout1 {
    position: relative;
    height: 16px;
  }
  &-img.layout2 {
    position: absolute;
    top: 1054px;
    bottom: 681px;
    left: 0px;
    right: 0px;
    @include tn {
      display: none;
    }
  }
  &-group6 {
    @include flex-column;
  }
  &-group6.layout {
    position: absolute;
    top: 474px;
    height: 580px;
    left: 62px;
    width: 1772px;
    @include xxs {
      top: 191px;
      left: 24px;
    }
    @include tn {
      top: 116px;
      height: 100px;
      left: 5px;
      width: 314px;
    }
  }
  &-flex2 {
    display: flex;
  }
  &-flex2.layout {
    position: relative;
    flex-grow: 1;
    @include tn {
      margin: 0px;
    }
  }
  &-flex-item4 {
    @include flex-column;
    position: relative;
    flex: 0 1 858px;
    @include xl {
      flex: 0 1 1100px;
    }
    @include md {
      flex: 0 1 650px;
    }
    @include sm {
      flex: 0 1 900px;
    }
  }
  &-flex3 {
    @include flex-column;
  }
  &-flex3.layout {
    position: relative;
    flex-grow: 1;
    margin: 8px 0px 0px;
    @include tn {
      margin: 0px;
    }
  }
  &-txt1 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_0;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
  }
  &-txt1.layout {
    position: relative;
    width: 84.85%;
    margin: 0px 10.02% 0px 5.13%;
    @include sm {
      width: 53.76%;
      margin: 0px 46.24% 0px 0%;
    }
    @include xxs {
      width: 37.23%;
      margin: 0px 62.77% 0px 0%;
    }
    @include tn {
      width: 88.52%;
      margin: 0px 11.48% 0px 0%;
    }
  }
  &-txt2 {
    @include font-face($font_type_1, $color_type_3, 0px);
    width: 100%;
    height: 100%;
  }
  &-img1 {
    background: var(--src) center center / cover no-repeat;
    width: 100%;
    height: 100%;
  }
  &-flex-spacer3 {
    flex: 0 1 56px;
    @include xl {
      display: none;
    }
  }
  &-flex-item5 {
    @include flex-column;
    position: relative;
    flex: 0 1 858px;
    @include xl {
      display: none;
    }
  }
  &-flex4 {
    @include flex-column;
  }
  &-flex4.layout {
    position: relative;
    flex-grow: 1;
    margin: 0px 0px 8px;
  }
  &-txt3 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_0;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
  }
  &-txt3.layout {
    position: relative;
    width: 84.85%;
    margin: 0px 9.91% 0px 5.24%;
  }
  &-txt4-box.layout {
    position: relative;
    width: 84.5%;
    margin: 0px 8.74% 0px 6.76%;
  }
  &-txt4 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_1, $color_type_3, 0px);
    white-space: pre-wrap;
  }
  &-img2 {
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-img2.layout {
    position: relative;
    margin: 19px 0px 0px;
  }
  &-img.layout3 {
    position: absolute;
    top: 1216px;
    height: 38px;
    width: 1012px;
    right: 442px;
  }
  &-flex5 {
    @include flex-column;
  }
  &-flex5.layout {
    position: relative;
    flex-grow: 1;
    margin: 1254px 0px 0px;
    @include xxs {
      margin: 724px 0px 0px;
    }
    @include tn {
      margin: 329px 0px 0px;
    }
  }
  &-group7 {
    @include flex-column;
    background: var(--src) center center / cover no-repeat;
    background-color: $color_type_2;
  }
  &-group7.layout {
    position: relative;
    overflow: hidden;
  }
  &-img.layout4 {
    position: absolute;
    height: 721px;
    bottom: -252px;
    width: 604px;
    right: 82px;
  }
  &-flex6 {
    display: flex;
    @include xxs {
      flex-wrap: wrap;
      align-content: flex-start;
      row-gap: 16px;
    }
  }
  &-flex6.layout {
    position: relative;
    flex-grow: 1;
    width: 94.09%;
    margin: 27px auto 0px;
  }
  &-flex-item6 {
    @include flex-column;
    position: relative;
    flex: 0 1 126px;
    @include xxs {
      flex: 0 0 100%;
    }
  }
  &-flex7 {
    @include flex-column;
  }
  &-flex7.layout {
    position: relative;
    flex-grow: 1;
    margin: 11px 0px 70px;
    @include xxs {
      display: none;
    }
  }
  &-flex-item7 {
    @include flex-column;
    position: relative;
    @include tn {
      flex: 0 1 auto;
      display: none;
    }
  }
  &-img.layout5 {
    position: relative;
    height: 126px;
    width: 126px;
    min-width: 126px;
  }
  &-flex-item8 {
    @include flex-column;
    position: relative;
    @include tn {
      flex: 0 1 auto;
      display: none;
    }
  }
  &-img3 {
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-img3.layout {
    position: relative;
    height: 80px;
    width: 82px;
    min-width: 82px;
    margin: 32px 22px 0px;
  }
  &-flex-item9 {
    @include flex-column;
    position: relative;
    @include tn {
      flex: 0 1 auto;
      display: none;
    }
  }
  &-img4 {
    background: var(--src) center center / cover no-repeat;
    width: 100%;
    height: 100%;
  }
  &-flex-item10 {
    @include flex-column;
    position: relative;
    @include tn {
      flex: 0 1 auto;
      display: none;
    }
  }
  &-img.layout6 {
    position: relative;
    height: 72px;
    width: 77px;
    min-width: 77px;
    margin: 1px 25px 0px 24px;
  }
  &-flex-spacer4 {
    flex: 0 1 43px;
    @include xxs {
      display: none;
    }
  }
  &-flex-item11 {
    @include flex-column;
    position: relative;
    flex: 0 1 754px;
    @include xxs {
      flex: 0 0 100%;
    }
  }
  &-flex8 {
    @include flex-column;
  }
  &-flex8.layout {
    position: relative;
    flex-grow: 1;
  }
  &-txt5 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_2;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-img5 {
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-rect {
    background-color: $color_type_2;
  }
  &-rect.layout {
    position: relative;
    height: 46px;
    @include xxs {
      height: 40px;
      margin: 0px;
    }
    @include tn {
      height: 63px;
    }
  }
  &-group8 {
    @include flex-column;
    background-color: $color_type_6;
  }
  &-group8.layout {
    position: relative;
    overflow: hidden;
    @include xxs {
      margin: 0px;
    }
  }
  &-flex9 {
    display: flex;
    @include xxs {
      flex-wrap: wrap;
      align-content: flex-start;
      row-gap: 0px;
    }
  }
  &-flex9.layout {
    position: relative;
    flex-grow: 1;
    margin: 7px 10px 6px;
    @include xxs {
      margin: 7px 10px 0px;
    }
  }
  &-flex-item12 {
    @include flex-column;
    position: relative;
    flex: 1 1 213px;
    @include xxs {
      flex: 0 0 calc(33.33333333333333% - 6.666666666666667px);
    }
    @include tn {
      flex: 0 0 100%;
    }
  }
  &-txt6 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_3;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
  }
  &-txt6.layout {
    position: relative;
    flex-grow: 1;
  }
  &-flex-spacer5 {
    flex: 0 1 1367px;
    @include xxs {
      display: flex;
      flex: 0 0 20px;
    }
    @include tn {
      display: none;
    }
  }
  &-flex-item13 {
    @include flex-column;
    position: relative;
    flex: 1 1 119px;
    @include xxs {
      flex: 0 0 calc(33.33333333333333% - 6.666666666666667px);
    }
    @include tn {
      flex: 0 0 50%;
    }
  }
  &-txt7 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_3;
    color: $color_type_0;
    text-align: center;
    letter-spacing: 0px;
    cursor: pointer;
  }
  &-txt7.layout {
    position: relative;
    flex-grow: 1;
    @include xxs {
      margin: 0px;
    }
  }
  &-flex-spacer6 {
    flex: 0 0 auto;
    @include xxs {
      display: flex;
      flex: 0 0 0px;
    }
  }
  &-flex-item14 {
    @include flex-column;
    position: relative;
    flex: 1 1 119px;
    @include xxs {
      flex: 0 0 calc(33.33333333333333% - 6.666666666666667px);
    }
    @include tn {
      flex: 0 0 50%;
    }
  }
  &-txt8 {
    @include v-center-content;
    justify-content: center;
    font: $font_type_3;
    color: $color_type_0;
    text-align: center;
    letter-spacing: 0px;
    cursor: pointer;
  }
  &-txt8.layout {
    position: relative;
    flex-grow: 1;
    @include xxs {
      margin: 0px;
    }
  }
}
